<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="dsmsys.dao.RemarkDao">
	<select id="getRemarkBySId"  parameterType="Integer" resultType="Remark">
		select * from remark where s_id=#{sId}
	</select>
	<insert id="insertRemark" parameterType="Remark">
		INSERT INTO remark (s_id,e_id,r_status,r_score,r_remark) 
		VALUE(#{sId},#{eId},#{rStatus},#{rScore},#{rRemark})
	</insert>
	
	<select id="selecteIdBysIdAndrStatus" parameterType="Integer" resultType="String">
		SELECT e_id from remark WHERE s_id = #{sId} and r_status= #{rStatus}
	</select>
	
	<resultMap type="Remark" id="remarkLinkExammsgAndStudent">
		<result property="eId" column="e_id"/>
		<result property="sId" column="s_id"/>
		<result property="rRemark" column="r_remark"/>
		<result property="rScore" column="r_score"/>
		<result property="rStatus" column="r_status"/>
		<association property="exammsg" javaType="Exammsg">
			<result property="eTime" column="e_time"/>
			<result property="eSubject" column="e_subject"/>
			<result property="eAddress" column="e_address"/>
		</association>
		<association property="student" javaType="Student">
			<result property="sName" column="s_name"/>
		</association>
	
	</resultMap>
	
	<select id="getRemarkByStatus" parameterType="Integer" resultMap="remarkLinkExammsgAndStudent">
		select r.*,e.e_time,e.e_subject,e.e_address,s.s_name
		from remark r, exammsg e,student s
		where r.r_status = #{rStatus} and r.e_id = e.e_id and r.s_id = s.s_id
	</select>
	
	<update id="updateScoreAndRemarkAndStatus" parameterType="Remark">
		UPDATE remark set r_status =#{rStatus} ,r_score=#{rScore} ,r_remark=#{rRemark}
		where s_id=#{sId} and e_id=#{eId} 
	</update>
	
	<resultMap type="Remark" id="remarklinkexammsg">
		<result property="eId" column="e_id"/>
		<result property="sId" column="s_id"/>
		<result property="rRemark" column="r_remark"/>
		<result property="rScore" column="r_score"/>
		<result property="rStatus" column="r_status"/>
		<association property="exammsg" javaType="Exammsg">
			<result property="eTime" column="e_time"/>
			<result property="eSubject" column="e_subject"/>
			<result property="eAddress" column="e_address"/>
		</association>
	
	</resultMap>
	
	<select id="examRemarkByStuId" parameterType="Integer" resultMap="remarklinkexammsg">
		select r.*,e.e_time,e.e_subject,e.e_address
		from remark r, exammsg e
		where r.e_id = e.e_id and r.s_id = #{sId}
	</select>
	
	<resultMap type="Remark" id="remarkLinkStudent">
		<result property="eId" column="e_id"/>
		<result property="sId" column="s_id"/>
		<result property="rRemark" column="r_remark"/>
		<result property="rScore" column="r_score"/>
		<result property="rStatus" column="r_status"/>
		<association property="student" javaType="Student">
			<result property="sName" column="s_name"/>
			<result property="sSex" column="s_sex"/>
			<result property="sMobile" column="s_mobile"/>
		</association>
	</resultMap>
	
	<select id="getAllRemarkAndStuByeId" parameterType="Integer" resultMap="remarkLinkStudent">
		SELECT r.e_id,r.s_id, r.r_score, r.r_status, r.r_remark, s.s_name, s.s_sex, s.s_mobile
		FROM remark r LEFT JOIN student s ON r.s_id = s.s_id 
		where r.e_id = #{eId}
	</select>
	
	<select id="countRemarkPassOrFailBySubject" parameterType="Integer" resultType="int">
		SELECT COUNT(*)
		FROM exammsg e LEFT JOIN remark r ON e.e_id = r.e_id
		WHERE e.e_subject = #{subject} and r.r_status = #{status}
	</select>
	
	<select id="countRemarkBystatus" parameterType="Integer" resultType="int">
		SELECT COUNT(8)
		FROM remark
		WHERE r_status = #{status}
	</select>
	
</mapper>