<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="dsmsys.dao.RemarkDao">
	<select id="getRemarkBySId"  parameterType="Integer" resultType="Remark">
		select * from remark where s_id=#{sId}
	</select>
	<insert id="insertRemark" parameterType="Remark">
		INSERT INTO remark (s_id,e_id,r_status,r_score,r_remark) 
		VALUE(#{sId},#{eId},#{rStatus},#{rScore},#{rRemark})
	</insert>
</mapper>